* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.dark-1 {
  color: #181818;
}
.dark-2 {
  color: #474747;
}
.dark-3 {
  color: #757575;
}
header {
  background-color: #fff8f3;
}
.btn {
  background-color: #fd6e0a;
  padding: 5px 8px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  color: white;
  width: 100px;
  height: 40px;
  border: none;
}
.btn-2 {
  background-color: #fd6e0a;
  padding: 5px 8px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  color: white;
  border: none;
  width: 150px;
  height: 55px;
  font-weight: 700;
  cursor: pointer;
}
.btn-3 {
  background-color: white;
  padding: 5px 8px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  color: #fd6e0a;
  border: none;
  width: 120px;
  height: 55px;
  font-weight: 700;
  border: 1px solid #fd6e0a;
  cursor: pointer;
}
.container {
  max-width: 1280px;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;

  padding: 30px 0;
}
.logo {
  font-weight: bold;
  font-size: 30px;
}
.logo-h {
  color: #fd6e0a;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 30px;
}
ul li a {
  text-decoration: none;
}
/* hero section */
.hero-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 150px; */
}
.hero-left h1 {
  font-weight: bold;
  font-size: 40px;
}
.hero-left h3 {
  font-weight: 600;
  font-size: 20px;
}
.hero-left p {
  font-size: 15px;
}
.button {
  font-size: 15px;
}
.hero-left-btn {
  margin-top: 10px;
}

.about-parent {
  background-color: #fff8f3;
  margin: 100px auto;
  padding: 80px;
  text-align: center;
}
.about-box-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.gap {
  margin-top: 40px;
}
.gap-2 {
  margin-top: 20px;
}
.what-i-do-container {
  text-align: center;
}
.what-i-do-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.what-i-do-card {
  text-align: start;
  /* background-color: aliceblue; */
  padding: 40px;
  border-radius: 15px;
  margin-top: 30px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.07);
  height: 277px;
}
/* resume section */
.left-resume-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.right-resume-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.resume {
  max-width: 1100px;
  margin: 100px auto;
}

.resume h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 70px;
}

.resume-container {
  display: flex;
  gap: 50px;
}

.resume-column {
  flex: 1;
}

.resume-column h3 {
  font-size: 25px;
  margin-bottom: 30px;
}

.resume-item {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
}

.resume-item h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.resume-item h5 {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
  font-weight: 500;
}

.resume-item p {
  color: #777;
  line-height: 1.8;
}
.cv-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* my amazing section


*/
.my-amazing-parent {
  text-align: center;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 50px;
  gap: 12px;
  grid-auto-rows: 250px;
  grid-template-areas:
    "one two three"
    "four two six"
    "four five six";
}
.gallery img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.box-1 {
  grid-area: one;
}
.box-2 {
  grid-area: two;
}
.box-3 {
  grid-area: three;
}
.box-4 {
  grid-area: four;
}
.box-5 {
  grid-area: five;
}
.box-6 {
  grid-area: six;
}
.amaze {
  font-size: 35px;
}
/* Footer */

.footer {
  background: #fff8f3;
  padding: 100px 150px;
  margin-top: 100px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 120px;
}

.footer-left,
.footer-right {
  flex: 1;
}

.footer-left h2,
.footer-right h2 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #181818;
}

.footer-left p {
  color: #757575;
  line-height: 28px;
  margin-bottom: 25px;
  max-width: 500px;
}

/* Social Icons */

.social-icons {
  display: flex;
  gap: 30px;
}

.social-icons a {
  color: #fd6e0a;
  font-size: 22px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #181818;
}

/* Form */

.footer-right form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-right input,
.footer-right textarea {
  width: 100%;
  padding: 18px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  background: #fff;
}

.footer-right textarea {
  height: 150px;
  resize: none;
}

.footer-right button {
  width: 150px;
  height: 55px;
  border: none;
  border-radius: 5px;
  background: #fd6e0a;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.footer-right button:hover {
  background: #e65c00;
}
